body {
  font-family: Montserrat;
  background-color: #f3f3f3;
}

.container {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  width: 100%;
  background-color: rgba(251, 147, 51, 1);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgba(251, 147, 51, 1);
}
.login_href{
  text-decoration: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: rgba(251, 147, 51, 1);
}
.login_href:hover{

  text-decoration: underline;
}
