<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/style_diets.css')}}"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
      .product-row:hover {
        background-color: #ffe8cc;
      }
      #closeResultsButton {
        display: none;
      }
    </style>

    <script>
      $(document).ready(function () {
        var searchResults = $("#searchResults");
        var closeResultsButton = $("#closeResultsButton");
        var weightModal = $("#weightModal");

        $("#searchForm").submit(function (event) {
          event.preventDefault();

          var searchQuery = $("#search").val();

          $.ajax({
            url: "/search",
            type: "POST",
            data: { search: searchQuery },
            success: function (response) {
              searchResults.empty();

              var table = $("<table>").addClass("diet-table");
              var headerRow = $("<tr>").append(
                $("<th>").text("Наименование"),
                $("<th>").text("Калорийность"),
                $("<th>").text("Белки"),
                $("<th>").text("Жиры"),
                $("<th>").text("Углеводы")
              );
              table.append(headerRow);

              response.products.forEach(function (product) {
                var row = $("<tr>")
                  .addClass("product-row")
                  .data("productId", product.Product_id)
                  .append(
                    $("<td>").text(product.Product_name),
                    $("<td>").text(product.Product_calories),
                    $("<td>").text(product.Product_proteins),
                    $("<td>").text(product.Product_fats),
                    $("<td>").text(product.Product_carbohydrates)
                  );
                table.append(row);
              });

              searchResults.append(table);
              closeResultsButton.show();
            },
            error: function (error) {
              console.log("Произошла ошибка при выполнении запроса: " + error);
            },
          });
        });

        $(document).on("click", ".product-row", function () {
          var productId = $(this).data("productId");
          openWeightModal(productId);
        });

        function openWeightModal(productId) {
          $("#weightInput").val("");
          $("#selectedProductId").val(productId);
          $("#weightModal").fadeIn();
        }

        $("#weightForm").submit(function (event) {
          event.preventDefault();

          var weight = $("#weightInput").val();
          var productId = $("#selectedProductId").val();

          if (parseFloat(weight) <= 0 || isNaN(parseFloat(weight))) {
            alert("Введите число больше 0 в поле веса продукта.");
            return;
          }

          $.ajax({
            url: "/add_product",
            type: "POST",
            data: { productId: productId, weight: weight },
            success: function (response) {
              console.log("Продукт успешно добавлен в диету.");
              location.reload(); // Перезагрузка страницы после успешного добавления продукта
            },
            error: function (error) {
              console.log(
                "Произошла ошибка при добавлении продукта в диету: " + error
              );
            },
          });

          $("#weightModal").fadeOut();
        });

        $("#closeResultsButton").click(function () {
          searchResults.empty();
          closeResultsButton.hide();
          weightModal.fadeOut();
        });
      });
    </script>
    <script>
      $(document).ready(function () {
        // Обработка события нажатия на кнопку удаления продукта
        $(".delete-product-button").click(function () {
          var productId = $(this).data("product-id");
          deleteProduct(productId);
        });

        // Функция для удаления продукта
        function deleteProduct(productId) {
          $.ajax({
            url: "/delete_product",
            type: "POST",
            data: { productId: productId },
            success: function (response) {
              console.log("Продукт успешно удален из диеты.");

              // Перезагрузка страницы
              location.reload();
            },
            error: function (error) {
              console.log("Произошла ошибка при удалении продукта: " + error);
            },
          });
        }

        // Обработка события нажатия на кнопку изменения веса продукта
        $(".edit-weight-button").click(function () {
          var productId = $(this).data("product-id");
          showEditWeightForm(productId);
        });

        // Функция для отображения формы изменения веса продукта
        function showEditWeightForm(productId) {
          var weight = prompt("Введите новый вес продукта:");

          // Проверка на валидность введенного числа
          if (parseFloat(weight) <= 0 || isNaN(parseFloat(weight))) {
            alert("Введите число больше 0 в поле веса продукта.");
            return;
          }

          $.ajax({
            url: "/edit_weight",
            type: "POST",
            data: { productId: productId, weight: weight },
            success: function (response) {
              console.log("Вес продукта успешно изменен.");

              // Перезагрузка страницы
              location.reload();
            },
            error: function (error) {
              console.log(
                "Произошла ошибка при изменении веса продукта: " + error
              );
            },
          });
        }
      });
    </script>

    <title>Healthy People</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar__conteiner">
        <a href="#" class="navbar-name">
          <span style="color: rgba(251, 147, 51, 1)">Healthy </span> People
        </a>
        <div class="navbar__menu">
          <a href="#" class="navbar__menu-item">Home</a>
          <a href="training" class="navbar__menu-item">Программа тренировок </a>
          <a href="diets" class="navbar__menu-item active">План питания</a>
          <a href="profile" class="navbar__menu-item"> Кабинет</a>
        </div>

        <button id="logout-btn" class="navbar__sign">Выход</button>

        <script>
          document
            .getElementById("logout-btn")
            .addEventListener("click", function () {
              // Отправить GET-запрос на URL /logout
              fetch("/logout", {
                method: "GET",
                credentials: "same-origin",
              }).then(function () {
                // Перенаправить на главную страницу
                window.location.replace("/");
              });
            });
        </script>
      </div>
    </nav>
    <main class="main">
      <div class="main-name_title">
        <span style="color: rgba(251, 147, 51, 1)">ПЛАН</span> ПИТАНИЯ
      </div>
      <h2 class="calculator_title">
        Калькулятор расчета базового
        <span style="color: rgba(251, 147, 51, 1)">обмена веществ</span>
      </h2>
      <div class="container">
        <form
          id="calculate_form"
          class="calculate-form"
          action=""
          method="post"
        >
          <label for="gender">Пол:</label>
          <select id="gender" name="gender" required>
            <option value="male">Мужской</option>
            <option value="female">Женский</option>
          </select>
          <br /><br />

          <label for="height">Рост (см):</label>
          <input
            type="number"
            id="height"
            name="height"
            min="150"
            max="220"
            required
            value="{{height}}"
            placeholder=""
          /><br /><br />

          <label for="weight">Вес (кг):</label>
          <input
            type="number"
            id="weight"
            name="weight"
            min="31"
            max="160"
            value="{{weight}}"
            placeholder=""
          /><br /><br />

          <label for="age">Возраст:</label>
          <input
            type="number"
            id="age"
            name="age"
            min="16"
            max="65"
            value="{{age}}"
            placeholder=""
            required
          /><br /><br />

          <label for="Physical_activity">Уровень физической активности:</label>
          <select id="Physical_activity" name="Physical_activity" required>
            <option value="1">Базовый обмен веществ</option>
            <option value="1.2">Низкая активность</option>
            <option value="1.375">1-3 Тренировки в неделю</option>
            <option value="1.55">5 Тренировок в неделю</option>
            <option value="1.6375">Ежедневные тренировки</option>
          </select>
          <br /><br />

          <input
            type="submit"
            class="calculate-btn"
            name="calculate"
            value="Рассчитать"
          /><br /><br />
        </form>

        <div class="result-container">
          <div class="result_metabolism">
            <label>
              <span style="color: rgba(251, 147, 51, 1)"
                >Ваш базовый обмен веществ (ккал/сутки)</span
              >
            </label>
            <input
              type="text"
              id="result"
              name="result"
              value="{{metabolism}}"
              readonly
            />
            <span id="Physical_activity-result"></span>
          </div>
          <div class="result">
            <label>Количество белка в сутки (г)</label>
            <input
              type="text"
              id="result"
              name="result"
              value="{{proteins}}"
              readonly
            />
          </div>
          <div class="result">
            <label>Количество жиров в сутки (г)</label>
            <input
              type="text"
              id="result"
              name="result"
              value="{{fats}}"
              readonly
            />
          </div>
          <div class="result">
            <label>Количество углеводов в сутки (г)</label>
            <input
              type="text"
              id="result"
              name="result"
              value="{{carbs}}"
              readonly
            />
          </div>
        </div>
      </div>
      <div class="diet_container">
        <div class="calculator_title">
          <span style="color: rgba(251, 147, 51, 1)">Ваш рацион</span> питания
        </div>
      </div>
      <form
        method="post"
        action="{{ url_for('download_products', user_id=user_id, username=username) }}"
      >
        <button type="submit" class="btn btn-primary">Download as XLSX</button>
      </form>

      <table class="diet-table">
        <thead>
          <tr>
            <th>Продукт</th>
            <th>Калории (ккал)</th>
            <th>Белки (г)</th>
            <th>Жиры (г)</th>
            <th>Углеводы (г)</th>
            <th>Вес (г)</th>
            <th>Действия</th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
          <tr>
            <td>{{ product.Product_name }}</td>
            <td>{{ product.Product_calories }}</td>
            <td>{{ product.Product_proteins }}</td>
            <td>{{ product.Product_fats }}</td>
            <td>{{ product.Product_carbohydrates }}</td>
            <td>{{ product.weight }}</td>
            <td>
              <button
                class="edit-weight-button"
                data-product-id="{{ product.Product_id }}"
              >
                Изменить вес
              </button>
              <button
                class="delete-product-button"
                data-product-id="{{ product.Product_id }}"
              >
                Удалить
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div id="weightModal" style="display: none">
        <form id="weightForm">
          <label for="weightInput">Введите новый вес продукта:</label>
          <input
            type="text"
            id="weightInput"
            placeholder="Вес в граммах"
            required
          />
          <input type="hidden" id="selectedProductId" />
          <button type="submit">Добавить</button>
        </form>
      </div>

      <div class="diet_container__calories">
        <div class="result">
          <label>Калории</label>
          <input
            type="text"
            id="result"
            name="result"
            value="{{ diet_calories }}"
            readonly
          />
        </div>
        <div class="result">
          <label>Белки</label>
          <input
            type="text"
            id="result"
            name="result"
            value="{{ diet_proteins }}"
            readonly
          />
        </div>
        <div class="result">
          <label>Жиры</label>
          <input
            type="text"
            id="result"
            name="result"
            value="{{ diet_fats }}"
            readonly
          />
        </div>
        <div class="result">
          <label>Углеводы</label>
          <input
            type="text"
            id="result"
            name="result"
            value="{{ diet_carbs }}"
            readonly
          />
        </div>
      </div>
      <p class="calculator_title">Поиск продуктов</p>
      <form id="searchForm" class="container_search">
        <input
          class="search_input"
          type="text"
          id="search"
          placeholder="Введите слова для поиска"
        />
        <button type="submit" class="button_search">Искать</button>
      </form>

      <ul id="searchResults"></ul>

      <div id="weightModal">
        <form id="weightForm">
          <input
            type="text"
            id="weightInput"
            placeholder="Введите вес продукта в граммах"
          />
          <input type="hidden" id="selectedProductId" />
          <button type="submit">Добавить</button>
        </form>

        <div id="closeResultsButton">&#10006;</div>
      </div>
      <div class="diets-plan-title">
        <span style="color: rgba(251, 147, 51, 1)">Дополнительная </span
        >информация
      </div>

      <div class="diets-plan__container">
        <div class="training-plan__item">
          <img
            src="{{url_for('static', filename='Images/images_description_diets_page/discription_diets1.svg')}}"
            alt="#"
            height="600px"
            width="480px"
          />
        </div>
        <div class="diets-plan__item"></div>
        <img
          src="{{url_for('static', filename='Images/images_description_diets_page/discription_diets2.svg')}}"
          alt="#"
          height="600px"
          width="480px"
        />
        <div class="diets-plan__item">
          <img
            src="{{url_for('static', filename='Images/images_description_diets_page/discription_diets3.svg')}}"
            height="600px"
            width="480px"
            alt="#"
          />
        </div>
      </div>
    </main>
    <footer class="footer__container">
      <div class="footer__information">
        <img
          src="{{url_for('static', filename='Images/images_major/information_for_ clients.svg')}}"
          alt="#"
        />
      </div>
      <div class="footer__contact-information">
        <img
          src="{{url_for('static', filename='Images/images_major/contact_information.svg')}}"
          alt="#"
        />
      </div>
    </footer>
  </body>
</html>
