<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/style_diets.css')}}"
    />

    <title>Healthy People</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar__conteiner">
        <a href="#" class="navbar-name">
          <span style="color: rgba(251, 147, 51, 1)">Healthy </span> People
        </a>
        <div class="navbar__menu">
          <a href="#" class="navbar__menu-item">Home</a>
          <a href="training" class="navbar__menu-item">Программа тренировок </a>
          <a href="diets" class="navbar__menu-item active">План питания</a>
          <a href="profile" class="navbar__menu-item"> Кабинет</a>
        </div>

        <button id="logout-btn" class="navbar__sign">Выход</button>

        <script>
          document
            .getElementById("logout-btn")
            .addEventListener("click", function () {
              // Отправить GET-запрос на URL /logout
              fetch("/logout", {
                method: "GET",
                credentials: "same-origin",
              }).then(function () {
                // Перенаправить на главную страницу
                window.location.replace("/");
              });
            });
        </script>
      </div>
    </nav>
    <main class="main">
      <div class="main-name_title">
        <span style="color: rgba(251, 147, 51, 1)">ПЛАН</span> ПИТАНИЯ
      </div>
      <h2 class="calculator_title">
        Калькулятор расчета базового
        <span style="color: rgba(251, 147, 51, 1)">обмена веществ</span>
      </h2>
      <div class="container">
        <form
          id="calculate_form"
          class="calculate-form"
          action=""
          method="post"
        >
          <label for="gender">Пол:</label>
          <select id="gender" name="gender" required>
            <option value="male">Мужской</option>
            <option value="female">Женский</option>
          </select>
          <br /><br />

          <label for="height">Рост (см):</label>
          <input
            type="number"
            id="height"
            name="height"
            min="150"
            max="220"
            required
            value="{{height}}"
            placeholder=""
          /><br /><br />

          <label for="weight">Вес (кг):</label>
          <input
            type="number"
            id="weight"
            name="weight"
            min="31"
            max="160"
            value="{{weight}}"
            placeholder=""
          /><br /><br />

          <label for="age">Возраст:</label>
          <input
            type="number"
            id="age"
            name="age"
            min="16"
            max="65"
            value="{{age}}"
            placeholder=""
            required
          /><br /><br />

          <label for="Physical_activity">Уровень физической активности:</label>
          <select id="Physical_activity" name="Physical_activity" required>
            <option value="1">Базовый обмен веществ</option>
            <option value="1.2">Низкая активность</option>
            <option value="1.375">1-3 Тренировки в неделю</option>
            <option value="1.55">5 Тренировок в неделю</option>
            <option value="1.6375">Ежедневные тренировки</option>
          </select>
          <br /><br />

          <input
            type="submit"
            class="calculate-btn"
            name="calculate"
            value="Рассчитать"
          /><br /><br />
        </form>

        <div class="result-container">
          <div class="result_metabolism">
            <label>
              <span style="color: rgba(251, 147, 51, 1)"
                >Ваш базовый обмен веществ (ккал/сутки)</span
              >
            </label>
            <input
              type="text"
              id="result"
              name="result"
              value="{{metabolism}}"
              readonly
            />
            <span id="Physical_activity-result"></span>
          </div>
          <div class="result">
            <label>Количество белка в сутки (г)</label>
            <input
              type="text"
              id="result"
              name="result"
              value="{{proteins}}"
              readonly
            />
          </div>
          <div class="result">
            <label>Количество жиров в сутки (г)</label>
            <input
              type="text"
              id="result"
              name="result"
              value="{{fats}}"
              readonly
            />
          </div>
          <div class="result">
            <label>Количество углеводов в сутки (г)</label>
            <input
              type="text"
              id="result"
              name="result"
              value="{{carbs}}"
              readonly
            />
          </div>
        </div>
      </div>
      <div class="diet_container">
        <div class="calculator_title">
          <span style="color: rgba(251, 147, 51, 1)">Ваш рацион</span> питания
        </div>
      </div>
      <div class="diet_container__calories">
        <div class="result">
          <label>Калории</label>
          <input
            type="text"
            id="result"
            name="result"
            value="{{diet_calories}}"
            readonly
          />
        </div>
        <div class="result">
          <label>Белки</label>
          <input
            type="text"
            id="result"
            name="result"
            value="{{diet_proteins}}"
            readonly
          />
        </div>
        <div class="result">
          <label>Жиры</label>
          <input
            type="text"
            id="result"
            name="result"
            value="{{diet_fats}}"
            readonly
          />
        </div>
        <div class="result">
          <label>Углеводы</label>
          <input
            type="text"
            id="result"
            name="result"
            value="{{diet_carbs}}"
            readonly
          />
        </div>
      </div>
      <form
        method="post"
        action="{{ url_for('download_products', user_id=user_id, username=username) }}"
      >
        <button type="submit" class="btn btn-primary">Download as XLSX</button>
      </form>

      <table class="diet-table">
        <thead>
          <tr>
            <th>Продукт</th>
            <th>Калории (ккал)</th>
            <th>Белки (г)</th>
            <th>Жиры (г)</th>
            <th>Углеводы (г)</th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
          <tr>
            <td>{{ product.Product_name }}</td>
            <td>{{ product.Product_calories }}</td>
            <td>{{ product.Product_proteins }}</td>
            <td>{{ product.Product_fats }}</td>
            <td>{{ product.Product_carbohydrates }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="diets-plan-title">
        <span style="color: rgba(251, 147, 51, 1)">Дополнительная </span
        >информация
      </div>

      <div class="diets-plan__container">
        <div class="training-plan__item">
          <img
            src="{{url_for('static', filename='Images/images_description_diets_page/discription_diets1.svg')}}"
            alt="#"
            height="600px"
            width="480px"
          />
        </div>
        <div class="diets-plan__item"></div>
        <img
          src="{{url_for('static', filename='Images/images_description_diets_page/discription_diets2.svg')}}"
          alt="#"
          height="600px"
          width="480px"
        />
        <div class="diets-plan__item">
          <img
            src="{{url_for('static', filename='Images/images_description_diets_page/discription_diets3.svg')}}"
            height="600px"
            width="480px"
            alt="#"
          />
        </div>
      </div>
    </main>
    <footer class="footer__container">
      <div class="footer__information">
        <img
          src="{{url_for('static', filename='Images/images_major/information_for_ clients.svg')}}"
          alt="#"
        />
      </div>
      <div class="footer__contact-information">
        <img
          src="{{url_for('static', filename='Images/images_major/contact_information.svg')}}"
          alt="#"
        />
      </div>
    </footer>
  </body>
</html>
