<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/style.css')}}"
    />

    <title>Healthy People</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar__conteiner">
        <a href="#" class="navbar-name">
          <span style="color: rgba(251, 147, 51, 1)">Healthy </span> People
        </a>
        <div class="navbar__menu">
          <a href="#" class="navbar__menu-item active">Home</a>
          <a href="#" class="navbar__menu-item">Программа тренировок </a>
          <a href="#" class="navbar__menu-item">План питания</a>
        </div>
        <a href="login.html" class="navbar__sign">Вход</a>
      </div>
    </nav>
    <main class="main">
      <div class="main-name__conteiner">
        <div class="main-name-website">
          <h1 class="main-name-website__title">
            <span style="color: rgba(251, 147, 51, 1)">Составление </span>
            Программы тренировок и плана питания
          </h1>
          <p class="main-name-website__text">
            Вы можете легко составить программу тренировок и составить план
            питания по вашему метаболизму
          </p>
        </div>
        <div class="main-name-img__container">
          <img
            class="main-name-img__container-diagram"
            src="{{url_for('static', filename='Images/images_major/Woman_with_salad_and_diagram.svg')}}"
            height=" 857.89px"
            width="919.77px"
            alt="#"
          />
        </div>
      </div>
      <div class="website-title">
        Как происходит выбор
        <span style="color: rgba(251, 147, 51, 1)">ПРОГРАММЫ ТРЕНИРОВОК</span>
      </div>
      <div class="website__container">
        <div class="website__item">
          <img
            src="{{url_for('static', filename='Images/images_major/Choice_training_plan.svg')}}"
            alt="#"
          />
        </div>
        <div class="website__item">
          <img
            src="{{url_for('static', filename='Images/images_major/diet.svg')}}"
            alt="#"
          />
        </div>
        <div class="website__item">
          <img
            src="{{url_for('static', filename='Images/images_major/revards.svg')}}"
            alt="#"
          />
        </div>
      </div>
      <div class="training-plan-title">
        Быстрый и удобный выбор
        <span style="color: rgba(251, 147, 51, 1)">ПРОГРАММЫ</span> ТРЕНИРОВОК
      </div>

      <div class="training-plan__container">
        <div class="training-plan__item">
          <img
            src="{{url_for('static', filename='Images/images_training/man_in_gym1.svg')}}"
            alt="#"
            height="600px"
            width="480px"
          />
        </div>
        <div class="training-plan__item"></div>
        <img
          src="{{url_for('static', filename='Images/images_training/Girl_with_stairs.svg')}}"
          alt="#"
          height="600px"
          width="480px"
        />
        <div class="training-plan__item">
          <img
            src="{{url_for('static', filename='Images/images_training/man_in_gym2.svg')}}"
            height="600px"
            width="480px"
            alt="#"
          />
        </div>
      </div>
      <div class="diet-title">
        Вычисление вашего базового обмена веществ и составление
        <span style="color: rgba(251, 147, 51, 1)">ПЛАНА </span>ПИТАНИЯ
      </div>
      <div class="diet__container">
        <div class="diet__item">
          <img
            src="{{url_for('static', filename='Images/images_diets/menu_item1.png')}}"
            alt="#"
            height="600px"
            width="430px"
          />
        </div>
        <div class="diet__item">
          <img
            src="{{url_for('static', filename='Images/images_diets/menu_item2.png')}}"
            alt="#"
            height="600px"
            width="430px"
          />
        </div>
        <div class="diet__item">
          <img
            src="{{url_for('static', filename='Images/images_diets/menu_item3.png')}}"
            alt="#"
            height="600px"
            width="430px"
          />
        </div>
      </div>
    </main>
    <footer class="footer__container">
      <div class="footer__information">
        <img
          src="{{url_for('static', filename='Images/images_major/information_for_ clients.svg')}}"
          alt="#"
        />
      </div>
      <div class="footer__contact-information">
        <img
          src="{{url_for('static', filename='Images/images_major/contact_information.svg')}}"
          alt="#"
        />
      </div>
    </footer>
    <script src="{{url_for('static',filename='js/index.js')}}"></script>
  </body>
</html>
