<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/style_training.css')}}"
    />

    <title>Healthy People</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar__conteiner">
        <a href="home" class="navbar-name">
          <span style="color: rgba(251, 147, 51, 1)">Healthy </span> People
        </a>
        <div class="navbar__menu">
          <a href="Home" class="navbar__menu-item ">Home</a>
          <a href="training" class="navbar__menu-item active"
            >Программа тренировок
          </a>
          <a href="diets" class="navbar__menu-item">План питания</a>
          <a href="profile" class="navbar__menu-item">Кабинет</a>
        </div>

        <button id="logout-btn" class="navbar__sign">Выход</button>

        <script>
          document
            .getElementById("logout-btn")
            .addEventListener("click", function () {
              // Отправить GET-запрос на URL /logout
              fetch("/logout", {
                method: "GET",
                credentials: "same-origin",
              }).then(function () {
                // Перенаправить на главную страницу
                window.location.replace("/");
              });
            });
        </script>
      </div>
    </nav>
    <main class="main">
      <h2 class="main-name_title">
        <span style="color: rgba(251, 147, 51, 1)">ВЫБОР</span> ПРОГРАММЫ
        ТРЕНИРОВОК
      </h2>
      <div class="program_title">
        Ваша
        <span style="color: rgba(251, 147, 51, 1)">программа тренировок</span>
      </div>
      <a href="{{ url_for('download_exercises') }}" class="btn btn-primary"
        >Скачать CSV</a
      >
      <div class="contrainer_training">
        <form id="training_form" class="training_form" action="" method="post">
          <div class="form_training_title">
            Характеристики
            <span style="color: rgba(251, 147, 51, 1)"
              >Программы тренировок</span
            >
          </div>
          <label for="location">Место тренировки:</label>
          <select id="location" name="location">
            <option value="home">Дома</option>
            <option value="gym">В зале</option></select
          ><br /><br />
          <label for="frequency">Количество тренировок в неделю:</label>
          <select id="frequency" name="frequency">
            <option value="two_days">Двухдневная программа</option>
            <option value="three_days">Трехдневная программа</option></select
          ><br /><br />
          <label for="method">Методика тренировок:</label>
          <select id="method" name="method">
            <option value="split">Split программа</option>
            <option value="full_body">FullBody программа</option></select
          ><br /><br />
          <input
            type="submit"
            class="calculate-btn"
            name="calculate"
            value="Найти программу"
          /><br /><br />
        </form>

        <table class="training-table">
          <thead>
            <tr>
              <th>Тренировка</th>
              <th>Упражнение</th>
              <th>Количество подходов</th>
              <th>Количество повторений</th>
            </tr>
          </thead>
          <tbody>
            {% set day = 0 %} {% set training_number = 0 %} {% for exercise in
            exercises %} {% if loop.index % 5 == 1 %} {% set day = day + 1 %} {%
            set training_number =training_number + loop.index % 4 %}
            <tr>
              <td rowspan="5">{{ training_number }}</td>
              <td>{{ exercise.Exercise_name }}</td>
              <td>{{ exercise.Number_of_approaches }}</td>
              <td>{{ exercise.Number_of_repetitions }}</td>
            </tr>
            {% else %}
            <tr>
              <td>{{ exercise.Exercise_name }}</td>
              <td>{{ exercise.Number_of_approaches }}</td>
              <td>{{ exercise.Number_of_repetitions }}</td>
            </tr>
            {% endif %} {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="training-plan-title">
        <span style="color: rgba(251, 147, 51, 1)">Дополнительная </span
        >информация
      </div>

      <div class="training-plan__container">
        <div class="training-plan__item">
          <img
            src="{{url_for('static', filename='Images/images_description_training_page/training_description1.svg')}}"
            alt="#"
            height="600px"
            width="480px"
          />
        </div>
        <div class="training-plan__item"></div>
        <img
          src="{{url_for('static', filename='Images/images_description_training_page/training_description2.svg')}}"
          alt="#"
          height="600px"
          width="480px"
        />
        <div class="training-plan__item">
          <img
            src="{{url_for('static', filename='Images/images_description_training_page/training_description3.svg')}}"
            height="600px"
            width="480px"
            alt="#"
          />
        </div>
      </div>
    </main>
    <footer class="footer__container">
      <div class="footer__information">
        <img
          src="{{url_for('static', filename='Images/images_major/information_for_ clients.svg')}}"
          alt="#"
        />
      </div>
      <div class="footer__contact-information">
        <img
          src="{{url_for('static', filename='Images/images_major/contact_information.svg')}}"
          alt="#"
        />
      </div>
    </footer>
  </body>
</html>
